{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>

    <div class="form-group row">
        <label for="inputEmail" class="col-form-label col-sm-2">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-sm-10" required autofocus>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-form-label col-sm-2">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control col-sm-10" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="row justify-content-center">
        <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
    </div>
</form>
{% endblock %}
