{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Créer votre compte</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.adress) }}
        {{ form_row(registrationForm.password) }}
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Créer mon compte</button>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
