.btn-primary, .bg-primary, .table-primary {
    background-color: #111b58 !important;
    border-color: #111b58 !important;
}

.btn-primary:hover {
    background-color: #192a86 !important;
    border-color: #192a86 !important;
}

.btn-secondary {
    background-color: #2F9DFA !important;
    border-color: #2F9DFA !important;
}

.btn-secondary:hover {
    background-color: #036dea !important;
    border-color: #036dea !important;
}

.nav-item {
    display: flex;             /* establish flex container */
    align-items: center;       /* center ul container vertically */
    justify-content: center;   /* center ul container horizontally (optional) */
}

.questionTitle {
    width: 50%;
    text-align: center;
    margin: 20px;
}

.question {
    margin: 25px;
    padding: 15px;
}

.row {
    margin: 5px;
}

tbody td, thead th {
    text-align: center;
}

.card {
    margin: 10px;
}