{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="row" style="margin-bottom: 50px">
            <div class="col">
                <h3>Liste des Quiz</h3>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-3">
                    <a href="{{ path('quiz_add') }}" class="btn btn-primary">Ajouter un Quiz</a>
                </div>
            {% endif %}
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Mon score</th>
                    <th scope="col">Commencer</th>
                    <th scope="col">Reset mon score</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                        <th scope="col">Questions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
        {% for quiz in quiz %}
            <tr>
                <th scope="row">{{ quiz.title }}</th>
                {% if results[quiz.id] is defined %}
                    <td>{{ results[quiz.id] }}</td>
                {% else %}
                    <td>Pas de score enregistré</td>
                {% endif %}
                <td><a href="{{ path('quiz_show', {'id': quiz.id}) }}" class="btn btn-primary">Allez au Quiz</a></td>
                <td><a href="{{ path('quiz_reset', {'quizID': quiz.id}) }}" class="btn btn-primary">Reset</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('quiz_edit', {'id': quiz.id}) }}" class="btn btn-info">Modifier</a></td>
                    <td><a href="{{ path('quiz_delete', {'id': quiz.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    <td><a href="{{ path('quiz_questions', {'quizID': quiz.id}) }}" class="btn btn-warning">{{ quiz.getQuestions()|length }} Questions</a></td>
                {% endif %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}

        <h4>Merci de vous connecter pour accéder à la liste des Quiz</h4>
        <a href="{{ path('app_login') }}" class="btn btn-secondary" style="margin-right: 10px">Connexion</a>
        <h4>Vous n'avez pas de compte ?</h4>
        <a href="{{ path('app_register') }}" class="btn btn-secondary" style="margin-right: 10px">Inscrivez-vous</a>

    {% endif %}

{% endblock %}