{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="row" style="margin-bottom: 50px">
            <div class="col">
                <h3>Questions du {{ quiz.title }}</h3>
            </div>
            <div class="col-3">
                <a href="{{ path('question_add', {'id_quiz': quiz.id}) }}" class="btn btn-primary">Ajouter une question</a>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><h5>Réponse</h5></th>
                    <th scope="col"><h5>Modifier</h5></th>
                    <th scope="col"><h5>Supprimer</h5></th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td scope="row">{{ question.question }}</td>
                        <td scope="row">
                            {% for answer in question.answer %}
                                <p><small>{{ answer }}</small></p>
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('question_edit', {'id': question.id, 'id_quiz': quiz.id}) }}" class="btn btn-info">Modifier</a></td>
                        <td><a href="{{ path('question_delete', {'id': question.id, 'id_quiz': quiz.id}) }}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}

        <h4>Merci de vous connecter pour accéder à la liste des Quiz</h4>
        <a href="{{ path('app_login') }}" class="btn btn-secondary" style="margin-right: 10px">Connexion</a>
        <h4>Vous n'avez pas de compte ?</h4>
        <a href="{{ path('app_register') }}" class="btn btn-secondary" style="margin-right: 10px">Inscrivez-vous</a>

    {% endif %}
{% endblock %}