{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <h3 class="bg-primary text-white questionTitle rounded">Début du {{ quiz.title }}</h3>
        {% if questions %}
            {{ form_start(form) }}
                    {% for question in questions %}
                        <div class="question border border-primary rounded">
                            <h5>Question {{ loop.index }}</h5>
                            <p>{{ question.question }}</p>
                                {% if reponses[loop.index-1][1] == 'vrai' %}
                                    {{ form_row(form[loop.index],
                                        {'attr' :
                                            {'placeholder': 'Réponse ...'},
                                            'disabled': 'disabled',
                                        }
                                    ) }}
                                    <p>
                                        <img src="https://image.flaticon.com/icons/svg/391/391175.svg" style="height: 30px">
                                        Votre réponse : {{ reponses[loop.index-1][0] }}
                                    </p>
                                {% else %}
                                    {{ form_row(form[loop.index],
                                        {'attr' :
                                            {'placeholder': 'Réponse ...'},
                                        }
                                    ) }}
                                    <p>
                                        <img src="https://image.flaticon.com/icons/svg/391/391116.svg" style="height: 30px">
                                        Votre réponse : {{ reponses[loop.index-1][0] }}
                                    </p>
                                {% endif %}
                        </div>
                    {% endfor %}
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success">Valider mes réponses</button>
            </div>
            {{ form_end(form) }}

            <div class="row justify-content-center" >
                <h6>Merci de participer à ce Quizz !</h6>
            </div>
        {% else %}
            <h6>Ce Quiz ne possède pas encore de question</h6>
        {% endif %}
    {% else %}
        <h3>Page invalide !</h3>
    {% endif %}

{% endblock %}