<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        <link href="{{ asset('/css/style.css') }}" rel="stylesheet" />
        <title>{% block title %}Quiz CD5{% endblock %}</title>
        {% block stylesheets %}{% endblock%}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <img src="https://pbs.twimg.com/profile_images/1027609854733631488/5V8n97zD_400x400.jpg"
                     class="img-responsive rounded-circle" style="height: 40px">
            <a class="navbar-brand" href="/">Quiz CD5</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('quiz_list') }}">Mes Quiz</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {%  if app.user %}
                        <li class="nav-item">
                            <div class="navbar-text">
                                <a href="{{ path('account') }}" style="margin-right: 10px">{{ app.user.getFirstName() }} {{ app.user.getLastName() }}</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="btn btn-secondary" style="margin-right: 10px">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" class="btn btn-secondary" style="margin-right: 10px">Connexion</a>
                            <a href="{{ path('app_register') }}" class="btn btn-secondary" style="margin-right: 10px">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
